<ol reversed class="list-featured" >				
      {% for article in site.data.articles %}                
          <li class="mb-8">
          <span>
              <h6 class="font-weight-normal">
                  <a href="{{article.url}}" class="text-dark">{{ article.title }}</a>
              </h6>
              <span class="d-block text-muted"> {{article.authors}}</span>
              <span class="d-block text-muted">  <span class="font-weight-bold"> {{article.journal}} </span> {{article.volume}}, {{article.issue}}, Page: {{article.pages}}, {{article.year}} </span>
          </span>
          </li>                
	  <br>
      {% endfor %}   
  </ol>
